<div><br> 
  <%= image_tag "store/kauppa/aikl-logo.gif"  , :width => "270" , :alt => "logo" %>
</div>
	<br>
	<span class="shop">Auringosta Itään, <br>Kuusta Länteen</span><br> 
	<br>Fredrikinkatu 19 (Viiskulma)<br>00120 Helsinki<br> 
