<%- unless Spree::HtmlInvoice::Config[:html_receipt_logo_path].empty? %>
  <figure class="logo">
    <%= image_tag Spree::HtmlInvoice::Config[:html_receipt_logo_path], :id => "logo" %>
  </figure>
<%- end %>

<div class="shop"><%= Spree::Config[:site_name] %></div>
<%- if Spree::HtmlInvoice::Config[:html_receipt_info] %>
  <div class="info"><%= Spree::HtmlInvoice::Config[:html_receipt_info].html_safe %></div>
<%- end %>
