<%
base = @order.number[1 .. -1]
viite = open("http://www1.nordea.fi/P636V/H636VTXT.asp?action=tekstiLista&lkm=1&alkuViite=#{base}&L=1").read[/\d+ \d+/]
%>

<%unless @packaging_slip%>
<table>
  <tr>
    <td colspan="2">
      &nbsp;
    </td>
  </tr>
<tr>
  <td colspan="2">
    Maksaessasi käytä viitenumeroa: <%=viite %>
  </td>
</tr>
</table>
<%end%>

<table class="thanks_table">
  <tr>
    <td class="cell" cellspan="2"> </td>
    <td class="cell">&nbsp;</td>
  </tr>
  <tr>
    <td class="thanks cell" cellspan="2"><%== t("#{params[:template]}.thanks" , :order => @order)%> </td>
    <td class="cell">&nbsp;</td>
  </tr>
</table>

