<table class="totals">

  <%- @adjustments.each do |adjustment| %>
  <tr>
    <td>
      <%= adjustment.label %>:
    </td>
    <td class="cell total">
      <%= adjustment.display_amount %>
    </td>
  </tr>
  <%- end %>
  <tr>

    <td class="cel1 bold">
      <strong>
        <%= t(:order_total) %>:
      </strong>
    </td>

    <td class="cel2 cell" align="right">
      <strong>
        <span id='summary-order-total'>
          <%= @order.display_total.to_html %>
        </span>
      </strong>
    </td>
  </tr>
</table>
