<table class="totals">
  <%- @adjustments.each do |adjustment| %>
  <tr>
    <td>
      <%= adjustment.label %>:
    </td>
    <td class="cell total">
      <%= adjustment.display_amount %>
    </td>
  </tr>
  <%- end %>
  <tr>

    <td class="cel1 bold">
      <%= Spree.t(:order_total) %>:
    </td>

    <td class="cel2 bold" align="right">
        <span id='summary-order-total'>
          <%= @order.display_total.to_html %>
        </span>
    </td>
  </tr>
</table>
