<table class="header">
  <tr>
    <td width="345"><img src="<%= asset_path Spree::Config[:html_invoice_logo_path]%>" alt="logo" width="280"/></td>
    <td width="345"><div align="right">
      <p class="title"><%= I18n.t("#{params[:template]}.header") %></p>
      <p class="bold"><%= I18n.t(:order_number).to_s + " " + @order.number  %></p>
      <p class="bold"> <%= I18n.l(@order.completed_at.to_date) if @order.completed_at %></p>
    </div></td>
  </tr>
</table>
