<div><br>
	<img src="<%=asset_path Spree::Config[:html_invoice_logo_path]%>"  width="220" alt="logo" />
	<br><br>
	<span class="shop">Auringosta Itään, <br>Kuusta Länteen</span><br> 
	<br>Fredrikinkatu 19 (Viiskulma), 00120 Helsinki<br> 
