@page  { 
	margin-left:8mm;
	margin-right:8mm;
	margin-top:8mm;
	margin-bottom:8mm;
	 }

body {
    font-family:"Trebuchet MS";
	font-size:32px;
	color:#000000;
    width: 700px;
}


div#header {
  text-align: center;
  padding: 6px;
  line-height: 1.3;
  width: 700px;
}

#header img {
  max-width: 670px;
}

.shop { font-weight: bold; font-size: 40px; line-height: 1.2;}
.info { padding: 6px; font-size: 30px; text-align: center; line-height: 1.3; width: 700px;}

.line_items {
  width: 700px;
}

div.wrapper {
  width: 700px;
  padding-top: 48px;
  text-align: left;
}

div.totals {
  margin-bottom: 20px;
  padding: 6px;
}

table.totals {
  width: 700px;
}


.cell.total {
  text-align: right;
}

.cel1 {
  width: 200px;
}

.cel2 {
  width: 80px;
}

 
div.footer {
  width: 700px;
  padding: 6px;
  text-align: center;
}

.footer .bold {
  width: 100px;
}
.footer .cell {
  width: 220px;
}



