
body {
    font-family:verdana;
	color:#cc0000;
}


div.header {
  width: 620px;
  height: 150px;	
}
div.address {
  width: 620px;
  border-top:1px solid grey;
  margin-bottom: 10px;
  padding: 6px;

}
.line_items {
  width: 620px;
}
div.wrapper {
  width: 620px;
  height: 540px;
  border-top:1px solid grey;
  padding: 6px;

}

div.thanks {
  width: 620px;
  height: 110px;
  margin-top: 20px;
  margin-bottom: 20px;
}
div.spacer {
  width: 620px;
}
div.totals {
  height: 100px;
  margin-bottom: 20px;
  float: right;
}

.totals .cell {
  width: 130px;
}

div.footer {
  width: 620px;
  border-top:1px solid grey;
  padding: 6px;
}

.footer .bold {
  width: 100px;
}
.footer .cell {
  width: 220px;
}


.title { font-weight: bold; color: #FF9933; font-size: 18px; }
.bold { font-weight: bold; }
.cell { ; }

