@page  { 
	margin-left:1mm;
	margin-right:1mm;
	margin-top:1mm;
	margin-bottom:1mm;
	 }

body {
    font-family:Georgia;
	font-size:10px;
	color:#000000;
    border:2px solid #cc0000;
    width: 310px;
 
}


div.header {
  height: 130px;
  font-size:16px;
  text-align: center;
  padding: 6px;
}

.line_items {
  width: 310px;
}
div.wrapper {
  width: 300px;
  height: 540px;
  border-top:1px dotted grey;
  padding: 6px;

}

div.totals {
  height: 80px;
  margin-bottom: 20px;
  padding: 6px;
}

.totals .cell {
  width: 180px;
}

div.footer {
  width: 300px;
  border-top:1px dotted grey;
  padding: 6px;
  text-align: center;
}

.footer .bold {
  width: 100px;
}
.footer .cell {
  width: 220px;
}


.title { font-weight: bold; color: #FF9933; font-size: 18px; }
.bold { font-weight: bold; }
.cell { ; }

